* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #6ad2f3;
    text-align: center;
}

.container {
    background-color: pink;
}

.saludo {
    background-color: #fff;
    border: 1px solid black;
    float: left;
    padding: 30px;
    width: 300px;
}

#textarea {
    height: 50px;
}
#text-publicado {
    outline: 1px solid red;
    height: 50px;
}

#button {
    margin-top: 20px;
    padding: 10p;
}

#contador {
    background-color: #ddd;
    height: 50px;
    widows: 50px;
}