* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-attachment: fixed;
    background-image: url('../assets/images/fondo1.jpg');
    background-size: cover; 
    font-family: Arial;
}

.container {
    background-color: rgba(255,255,255,.4);
    margin: auto;
    max-width: 1220px;
    padding-left: 20px;
    padding-right: 20px;
}

.row {
    margin: 0 -10px;
}

.container::after, .container::before, .row::before, .row::after {
    display: table;
    content: '';
}

.container::after, .row::after {
    clear: both;
}

.col {
    float: left;
    padding: 0 10px;
    width: 50%;
}

.content {
    padding: 20px 0;
}

.details h2 {
    color: #444;
    font-size: 22px;
}

.details span {
    color: #888;
    font-size: 12px;
}
.details p {
    font-size: 14px;
    margin: 20px 0 0 0;
}

.card {
    background-color: rgba(255, 255, 255, .9);
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
    margin-bottom: 16px; 
    padding: 20px;
}

header {
    background-color: #1daceb;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-family: monospace;
    height: 52px;
    line-height: 52px;
    text-align: center;
}

textarea {
    background-color: transparent;
    border: none;
    font-size: 16px;
    width: 100%;
}

textarea:focus {
    outline: none;
}

hr {
    border: none;
    border-bottom: 1px solid #ddd;
    margin: 10px 0 20px;
}

button {
    background-color: #1daceb;
    box-shadow: 1px 1px 0 0 #ccc;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    padding: 8px 14px;
    text-transform: uppercase; 
}

button:active {
    box-shadow: 1px 1px 0 0 #fff;
}

.counter::before {
    content: 'Te queda: ';
}

.counter::after {
    content: ' caracter';
}

#button:disabled {
    background-color: #ccc;
    box-shadow: none;
    cursor: default;
}

.counter {
    float: right;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 0;
}

#tweets {
    min-height: 1024px;
}